<li><a href="/welcome">Welcome</a></li>
<li><a href="/auth-permissions">Auth &amp; Permissions</a></li>
<li><a href="/storage-state">Storage &amp; State</a></li>
<li><a href="/http-middleware">HTTP &amp; Middleware</a></li>
<li><a href="/crypto-vault">Crypto &amp; Vault</a></li>
<li><a href="/observability">Observability</a></li>
<li><a href="/testing">Testing</a></li>
<li><a href="/notify-mail">Notify &amp; Mail</a></li>
<li><a href="/i18n-locale">i18n &amp; Locale</a></li>
<li><a href="/production-essentials">Production Essentials</a></li>
