<li><a href="/welcome/index">Welcome</a></li>
<li><a href="/auth-permissions/index">Auth &amp; Permissions</a></li>
<li><a href="/storage-state/index">Storage &amp; State</a></li>
<li><a href="/http-middleware/index">HTTP &amp; Middleware</a></li>
<li><a href="/crypto-vault/index">Crypto &amp; Vault</a></li>
<li><a href="/observability/index">Observability</a></li>
<li><a href="/testing/index">Testing</a></li>
<li><a href="/notify-mail/index">Notify &amp; Mail</a></li>
<li><a href="/i18n-locale/index">i18n &amp; Locale</a></li>
<li><a href="/production-essentials/index">Production Essentials</a></li>
